In [3]:
import pandas as pd

In [4]:
pdDf = pd.read_csv('C:\\Users\\sulej\\OneDrive\\Рабочий стол\\7 semester\\Data Mining\\StudentPerformanceFactors.csv')

In [5]:
for col in pdDf.columns:
    print(col)

Hours_Studied
Attendance
Parental_Involvement
Access_to_Resources
Extracurricular_Activities
Sleep_Hours
Previous_Scores
Motivation_Level
Internet_Access
Tutoring_Sessions
Family_Income
Teacher_Quality
School_Type
Peer_Influence
Physical_Activity
Learning_Disabilities
Parental_Education_Level
Distance_from_Home
Gender
Exam_Score

In [6]:
print(pdDf)

      Hours_Studied  Attendance Parental_Involvement Access_to_Resources  \
0                23          84                  Low                High
1                19          64                  Low              Medium
2                24          98               Medium              Medium
3                29          89                  Low              Medium
4                19          92               Medium              Medium
...             ...         ...                  ...                 ...
6602             25          69                 High              Medium
6603             23          76                 High              Medium
6604             20          90               Medium                 Low
6605             10          86                 High                High
6606             15          67               Medium                 Low

     Extracurricular_Activities  Sleep_Hours  Previous_Scores  \
0                            No            7               73
1                            No            8               59
2                           Yes            7               91
3                           Yes            8               98
4                           Yes            6               65
...                         ...          ...              ...
6602                         No            7               76
6603                         No            8               81
6604                        Yes            6               65
6605                        Yes            6               91
6606                        Yes            9               94

     Motivation_Level Internet_Access  Tutoring_Sessions Family_Income  \
0                 Low             Yes                  0           Low
1                 Low             Yes                  2        Medium
2              Medium             Yes                  2        Medium
3              Medium             Yes                  1        Medium
4              Medium             Yes                  3        Medium
...               ...             ...                ...           ...
6602           Medium             Yes                  1          High
6603           Medium             Yes                  3           Low
6604              Low             Yes                  3           Low
6605             High             Yes                  2           Low
6606           Medium             Yes                  0        Medium

     Teacher_Quality School_Type Peer_Influence  Physical_Activity  \
0             Medium      Public       Positive                  3
1             Medium      Public       Negative                  4
2             Medium      Public        Neutral                  4
3             Medium      Public       Negative                  4
4               High      Public        Neutral                  4
...              ...         ...            ...                ...
6602          Medium      Public       Positive                  2
6603            High      Public       Positive                  2
6604          Medium      Public       Negative                  2
6605          Medium     Private       Positive                  3
6606          Medium      Public       Positive                  4

     Learning_Disabilities Parental_Education_Level Distance_from_Home  \
0                       No              High School               Near
1                       No                  College           Moderate
2                       No             Postgraduate               Near
3                       No              High School           Moderate
4                       No                  College               Near
...                    ...                      ...                ...
6602                    No              High School               Near
6603                    No              High School               Near
6604                    No             Postgraduate               Near
6605                    No              High School                Far
6606                    No             Postgraduate               Near

      Gender  Exam_Score
0       Male          67
1     Female          61
2       Male          74
3       Male          71
4     Female          70
...      ...         ...
6602  Female          68
6603  Female          69
6604  Female          68
6605  Female          68
6606    Male          64

[6607 rows x 20 columns]

In [7]:
# Create new features by combining or transforming existing features (e.g., adding
# interaction terms or polynomial features).

In [8]:
# Lets see interaction between Exam_Score Level and attendance

In [9]:
pdDf['Exam_Score_Att_Interaction'] = pdDf['Exam_Score'] * pdDf['Attendance']

In [10]:
print(pdDf[['Attendance', 'Exam_Score', 'Exam_Score_Att_Interaction']])

      Attendance  Exam_Score  Exam_Score_Att_Interaction
0             84          67                        5628
1             64          61                        3904
2             98          74                        7252
3             89          71                        6319
4             92          70                        6440
...          ...         ...                         ...
6602          69          68                        4692
6603          76          69                        5244
6604          90          68                        6120
6605          86          68                        5848
6606          67          64                        4288

[6607 rows x 3 columns]

In [11]:
# Efficiency of studying (Previous Scores to Hours Studied ratio)
pdDf['Study_Efficiency'] = pdDf['Previous_Scores'] / pdDf['Hours_Studied']

In [12]:
print(pdDf[['Study_Efficiency', 'Previous_Scores', 'Hours_Studied']])

      Study_Efficiency  Previous_Scores  Hours_Studied
0             3.173913               73             23
1             3.105263               59             19
2             3.791667               91             24
3             3.379310               98             29
4             3.421053               65             19
...                ...              ...            ...
6602          3.040000               76             25
6603          3.521739               81             23
6604          3.250000               65             20
6605          9.100000               91             10
6606          6.266667               94             15

[6607 rows x 3 columns]

In [13]:
# Extract date-based features (e.g., year, month, day) from datetime columns using
# pd.to_datetime() and dt accessor.

In [14]:
pdDf2 = pd.read_csv('C:\\Users\\sulej\\OneDrive\\Рабочий стол\\7 semester\\Data Mining\\Apple_price_to_clean.csv')

In [15]:
print(pdDf2)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500           -         NaN   25.934999       ERROR
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

         Volume
0     414406400
1     387098400
2     338464400
3         ERROR
4     224917200
...         ...
1769   62290100
1770   70211500
1771   69026800
1772   54147100
1773   53766800

[1774 rows x 7 columns]

In [16]:
pdDf2['Date'] = pd.to_datetime(pdDf2['Date'], errors='coerce')

In [17]:
pdDf2['year'] = pdDf2['Date'].dt.year

In [18]:
pdDf2['month'] = pdDf2['Date'].dt.month

In [19]:
pdDf2['day'] = pdDf2['Date'].dt.day

In [20]:
pdDf2['year'] = pdDf2['year'].fillna(0).astype(int)
pdDf2['month'] = pdDf2['month'].fillna(0).astype(int)
pdDf2['day'] = pdDf2['day'].fillna(0).astype(int)

In [21]:
print(pdDf2[['Date','year','month','day']])

           Date  year  month  day
0    2015-08-25  2015      8   25
1    2015-08-26  2015      8   26
2    2015-08-27  2015      8   27
3    2015-08-28  2015      8   28
4    2015-08-31  2015      8   31
...         ...   ...    ...  ...
1769 2022-08-18  2022      8   18
1770 2022-08-19  2022      8   19
1771 2022-08-22  2022      8   22
1772 2022-08-23  2022      8   23
1773 2022-08-24  2022      8   24

[1774 rows x 4 columns]

In [22]:
for col in pdDf2.columns:
    print(col)

Date
Open
High
Low
Close
Adj Close
Volume
year
month
day

In [23]:
# Usedomainknowledge to engineer features that might be useful for your specific
# problem.

In [26]:
# Convert 'High' and 'Low' columns to numeric, coercing errors to NaN
pdDf2['High'] = pd.to_numeric(pdDf2['High'], errors='coerce')
pdDf2['Low'] = pd.to_numeric(pdDf2['Low'], errors='coerce')

In [27]:
# Create a price range feature
pdDf2['Price_Range'] = pdDf2['High'] - pdDf2['Low']

In [29]:
print(pdDf2[['High', 'Low', 'Price_Range']].head())

        High        Low  Price_Range
0        NaN        NaN          NaN
1  27.472500  26.262501     1.209999
2  28.309999  27.504999     0.805000
3  28.327499  27.885000     0.442499
4  28.632500  28.000000     0.632500

In [31]:
# Create a feature for the day of the week (0=Monday, 6=Sunday)
pdDf2['Day_of_Week'] = pd.to_datetime(pdDf2['Date']).dt.dayofweek

In [32]:
print(pdDf2[['Day_of_Week', 'Date']])

      Day_of_Week       Date
0             1.0 2015-08-25
1             2.0 2015-08-26
2             3.0 2015-08-27
3             4.0 2015-08-28
4             0.0 2015-08-31
...           ...        ...
1769          3.0 2022-08-18
1770          4.0 2022-08-19
1771          0.0 2022-08-22
1772          1.0 2022-08-23
1773          2.0 2022-08-24

[1774 rows x 2 columns]

In [33]:
day_mapping = {
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
}

In [34]:
pdDf2['Day_Name'] = pdDf2['Day_of_Week'].map(day_mapping)

In [36]:
print(pdDf2[['Date', 'Day_Name']].head())

        Date   Day_Name
0 2015-08-25    Tuesday
1 2015-08-26  Wednesday
2 2015-08-27   Thursday
3 2015-08-28     Friday
4 2015-08-31     Monday