In [73]:
import pandas as pd
import numpy as np
import pickle

In [82]:
# First lest create a dataframe

In [83]:
pdDf = pd.read_csv('C:\\Users\\sulej\\OneDrive\\Рабочий стол\\7 semester\\Data Mining\\StudentScores.csv')

In [84]:
pdDf.head()

   First     Last  Math  Physics  Computers
0   John  Dalbury  71.0     34.0       16.0
1  Steve    Singh  28.0     72.0       69.0
2    Tom    Lloyd  48.0     43.0       79.0
3     Mo   Coffey  47.0     30.0       42.0
4  Misha    Baker   3.0      5.0       34.0

In [85]:
# Identify missing values in the dataset using isnull().sum().

In [86]:
pdDf.isnull().sum()

First        0
Last         0
Math         2
Physics      3
Computers    4
dtype: int64

In [87]:
#  Usedifferent strategies to handle missing data:
#  Remove rows with missing values using dropna().
#  Fill missing values with the mean, median, or a specific value using
#  fillna().

In [88]:
pdDf_cleaned = pdDf.dropna()

In [89]:
pdDf_orig = pdDf.copy()

In [90]:
print(pdDf_cleaned)

     First     Last  Math  Physics  Computers
0     John  Dalbury  71.0     34.0       16.0
1    Steve    Singh  28.0     72.0       69.0
2      Tom    Lloyd  48.0     43.0       79.0
3       Mo   Coffey  47.0     30.0       42.0
4    Misha    Baker   3.0      5.0       34.0
..     ...      ...   ...      ...        ...
97   Steve    Allen  41.0     81.0       46.0
98    Emma   McLeod  60.0     61.0       77.0
99    Jade    Hills  10.0      4.0       47.0
100  Steve   Beames  94.0     71.0       50.0
101    Nia   Cooper  92.0     74.0        5.0

[93 rows x 5 columns]

In [91]:
pdDf['Math'] = pdDf['Math'].fillna(pdDf['Math'].mean())

In [92]:
filled_values = pdDf['Math'] != pdDf_orig['Math']

In [93]:
print(filled_values)
# It just shows boolian ==> Did we change smth or not

0      False
1      False
2      False
3      False
4      False
       ...
97     False
98     False
99     False
100    False
101    False
Name: Math, Length: 102, dtype: bool

In [94]:
print(pdDf[filled_values])

      First     Last   Math  Physics  Computers
72  Claudia  Wrigley  47.15     85.0       41.0
93   Jordan   Sanger  47.15     31.0       39.0

In [95]:
pdDf['Physics'] = pdDf['Physics'].fillna(pdDf['Physics'].median())

In [96]:
filled_values_median = pdDf['Physics'] != pdDf_orig['Physics']

In [97]:
print(pdDf[filled_values_median])

     First         Last  Math  Physics  Computers
36     Tom       Corbyn  36.0     60.0       52.0
61  Darius  Fitzpatrick  29.0     60.0       24.0
73  Aiyden        Nurse   6.0     60.0        9.0

In [98]:
pdDf['Computers'] = pdDf['Computers'].fillna('Unknown')

In [99]:
filling_data_sp_val = pdDf['Computers'] != pdDf_orig['Computers']

In [100]:
print(pdDf[filling_data_sp_val])

     First        Last  Math  Physics Computers
78     Nia  Holdsworth  31.0     13.0   Unknown
87    Rich    Williams  88.0     65.0   Unknown
90     Nia       Baker  55.0     14.0   Unknown
91  Harper        Tuck  94.0     33.0   Unknown

In [101]:
#  Useforward or backward filling (ffill() or bfill()) to fill missing
#  data.

In [102]:
print(pdDf_orig)

     First     Last  Math  Physics  Computers
0     John  Dalbury  71.0     34.0       16.0
1    Steve    Singh  28.0     72.0       69.0
2      Tom    Lloyd  48.0     43.0       79.0
3       Mo   Coffey  47.0     30.0       42.0
4    Misha    Baker   3.0      5.0       34.0
..     ...      ...   ...      ...        ...
97   Steve    Allen  41.0     81.0       46.0
98    Emma   McLeod  60.0     61.0       77.0
99    Jade    Hills  10.0      4.0       47.0
100  Steve   Beames  94.0     71.0       50.0
101    Nia   Cooper  92.0     74.0        5.0

[102 rows x 5 columns]

In [103]:
pdDf_2 = pdDf_orig.copy()

In [104]:
pdDf_2.isnull().sum()

First        0
Last         0
Math         2
Physics      3
Computers    4
dtype: int64

In [105]:
pdDf_2['Math'] = pdDf_2['Math'].ffill()

In [111]:
filled_values = pdDf_2['Math'] != pdDf_orig['Math']

In [112]:
print(pdDf_2[filled_values])   # So ffill() filles our missing value with value in previous row

      First     Last  Math  Physics  Computers
72  Claudia  Wrigley  26.0     85.0       41.0
93   Jordan   Sanger  61.0     31.0       39.0

In [113]:
pdDf_2['Computers'] = pdDf_2['Computers'].bfill()

In [114]:
filled_values_bf = pdDf_2['Computers'] != pdDf_orig['Computers']

In [119]:
print(pdDf_2[filled_values_bf])

     First        Last  Math  Physics  Computers
78     Nia  Holdsworth  31.0     13.0       27.0
87    Rich    Williams  88.0     65.0       74.0
90     Nia       Baker  55.0     14.0       77.0
91  Harper        Tuck  94.0     33.0       77.0

In [120]:
pdDf_2['Physics'] = pdDf_2['Physics'].bfill()

In [121]:
filled_values3 = pdDf_2['Physics'] != pdDf_orig['Physics']

In [122]:
print(pdDf_2[filled_values3])

     First         Last  Math  Physics  Computers
36     Tom       Corbyn  36.0     11.0       52.0
61  Darius  Fitzpatrick  29.0     86.0       24.0
73  Aiyden        Nurse   6.0      2.0        9.0