In [1]:
                # Splitting Data into Training and Testing Sets

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
pdDf = pd.read_csv('C:\\Users\\sulej\\OneDrive\\Рабочий стол\\7 semester\\Data Mining\\Titanic-Dataset.csv')

In [4]:
print(pdDf)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [5]:
print(pdDf.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
                            #Step #1

In [7]:
# First of all lets prepare our data

In [8]:
# We can drop columns that we dont need for prediction
x = pdDf.drop(columns=['Survived', 'Name', 'Ticket', 'Cabin'])
y = pdDf['Survived']

In [9]:
print(x.dtypes)

PassengerId      int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked        object
dtype: object

In [10]:
print(y.dtypes)

int64

In [11]:
# As we can see we have numerical and categorical data
# So we need to convert our categorical data to numerical by using get_dummies
x = pd.get_dummies(x, columns = ['Sex', 'Embarked'], drop_first=True)

In [12]:
x['Age'].replace(['', 'NaN', 'nan'], pd.NA, inplace=True)  # Standardize missing values
x['Age'] = x['Age'].fillna(x['Age'].median())

In [13]:
print(x)

     PassengerId  Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  \
0              1       3  22.0      1      0   7.2500         1           0
1              2       1  38.0      1      0  71.2833         0           0
2              3       3  26.0      0      0   7.9250         0           0
3              4       1  35.0      1      0  53.1000         0           0
4              5       3  35.0      0      0   8.0500         1           0
..           ...     ...   ...    ...    ...      ...       ...         ...
886          887       2  27.0      0      0  13.0000         1           0
887          888       1  19.0      0      0  30.0000         0           0
888          889       3  28.0      1      2  23.4500         0           0
889          890       1  26.0      0      0  30.0000         1           0
890          891       3  32.0      0      0   7.7500         1           1

     Embarked_S
0             1
1             0
2             1
3             1
4             1
..          ...
886           1
887           1
888           1
889           0
890           0

[891 rows x 9 columns]

In [17]:
print(x.isnull().sum())

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
Sex_male       0
Embarked_Q     0
Embarked_S     0
dtype: int64

In [20]:
# Now we can split our dataset to training and testing sets
# 80% to 20%
x_train_80, x_test_20, y_train_80, y_test_20 = train_test_split(x, y, test_size=0.2, random_state=42)

In [30]:
# Create model
model_80_20 = LogisticRegression(max_iter=800)

In [31]:
model_80_20.fit(x_train_80, y_train_80)

LogisticRegression(max_iter=800)

In [32]:
# Prediction of test
y_pred_80_20 = model_80_20.predict(x_test_20)

In [34]:
# Lets see how accurate our prediction is
accuracy_80_20 = accuracy_score(y_test_20, y_pred_80_20)
print(accuracy_80_20)

0.8044692737430168

In [36]:
# Now lets see 70-30 split ratio
x_train_70, x_test_30, y_train_70, y_test_30 = train_test_split(x, y, test_size=0.3, random_state=42)

In [38]:
# Create a model
model_70_30 = LogisticRegression(max_iter=800)
model_70_30.fit(x_train_70, y_train_70)

LogisticRegression(max_iter=800)

In [39]:
# Prediction of test data
y_pred_70_30 = model_70_30.predict(x_test_30)

In [40]:
# Accuracy
accuracy_70_30 = accuracy_score(y_test_30, y_pred_70_30)
print(accuracy_70_30)

0.8059701492537313