In [1]:
import pandas as pd
from scipy import stats

In [2]:
pdDf = pd.read_csv('C:\\Users\\sulej\\OneDrive\\Рабочий стол\\7 semester\\Data Mining\\movies.csv')

In [3]:
print(pdDf)

                                   MOVIES         YEAR  \
0                           Blood Red Sky       (2021)
1     Masters of the Universe: Revelation     (2021– )
2                        The Walking Dead  (2010–2022)
3                          Rick and Morty     (2013– )
4                         Army of Thieves       (2021)
...                                   ...          ...
9994                       The Imperfects     (2021– )
9995                               Arcane     (2021– )
9996                    Heart of Invictus     (2022– )
9997                       The Imperfects     (2021– )
9998                       The Imperfects     (2021– )

                                           GENRE  RATING  \
0         \nAction, Horror, Thriller                 6.1
1     \nAnimation, Action, Adventure                 5.0
2          \nDrama, Horror, Thriller                 8.2
3     \nAnimation, Adventure, Comedy                 9.2
4            \nAction, Crime, Horror                 NaN
...                                          ...     ...
9994     \nAdventure, Drama, Fantasy                 NaN
9995  \nAnimation, Action, Adventure                 NaN
9996            \nDocumentary, Sport                 NaN
9997     \nAdventure, Drama, Fantasy                 NaN
9998     \nAdventure, Drama, Fantasy                 NaN

                                               ONE-LINE  \
0     \nA woman with a mysterious illness is forced ...
1     \nThe war for Eternia begins again in what may...
2     \nSheriff Deputy Rick Grimes wakes up from a c...
3     \nAn animated series that follows the exploits...
4     \nA prequel, set before the events of Army of ...
...                                                 ...
9994                                     \nAdd a Plot\n
9995                                     \nAdd a Plot\n
9996                                     \nAdd a Plot\n
9997                                     \nAdd a Plot\n
9998                                     \nAdd a Plot\n

                                                  STARS    VOTES  RunTime  \
0     \n    Director:\nPeter Thorwarth\n| \n    Star...   21,062    121.0
1     \n            \n    Stars:\nChris Wood, \nSara...   17,870     25.0
2     \n            \n    Stars:\nAndrew Lincoln, \n...  885,805     44.0
3     \n            \n    Stars:\nJustin Roiland, \n...  414,849     23.0
4     \n    Director:\nMatthias Schweighöfer\n| \n  ...      NaN      NaN
...                                                 ...      ...      ...
9994  \n            \n    Stars:\nMorgan Taylor Camp...      NaN      NaN
9995                                                 \n      NaN      NaN
9996  \n    Director:\nOrlando von Einsiedel\n| \n  ...      NaN      NaN
9997  \n    Director:\nJovanka Vuckovic\n| \n    Sta...      NaN      NaN
9998  \n    Director:\nJovanka Vuckovic\n| \n    Sta...      NaN      NaN

     Gross
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
9994   NaN
9995   NaN
9996   NaN
9997   NaN
9998   NaN

[9999 rows x 9 columns]

In [4]:
for col in pdDf.columns:
    print(col)

MOVIES
YEAR
GENRE
RATING
ONE-LINE
STARS
VOTES
RunTime
Gross

In [5]:
print(pdDf.dtypes)

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

In [6]:
                                # Step #1

In [7]:
# Remove duplicate rows using drop_duplicates().

In [8]:
# Firstly lets delete rows with missing vaalues
pdDf_clean2 = pdDf.dropna(subset = ['RATING', 'VOTES','RunTime','Gross']).copy()

In [21]:
print(pdDf_clean2)

Empty DataFrame
Columns: [MOVIES, YEAR, GENRE, RATING, ONE-LINE, STARS, VOTES, RunTime, Gross]
Index: []

In [19]:
# As we can see in 'Gross' column we have '$' and 'M'
pdDf_clean2['Gross'] = pdDf_clean2['Gross'].replace('[\$,]', '', regex=True).astype(float)*1e6

In [20]:
print(pdDf_clean2)

Empty DataFrame
Columns: [MOVIES, YEAR, GENRE, RATING, ONE-LINE, STARS, VOTES, RunTime, Gross]
Index: []

In [10]:
# We need to convert specific columns to numeric data type
pdDf_clean2[['RATING','VOTES', 'RunTime', 'Gross']] = pdDf_clean2[['RATING','VOTES','RunTime','Gross']].apply(pd.to_numeric, errors = 'coerce')

In [11]:
print(pdDf_clean2)

                                                 MOVIES        YEAR  \
77                               The Hitman's Bodyguard      (2017)
85                                        Jurassic Park      (1993)
95                                        Don't Breathe      (2016)
111   The Lord of the Rings: The Fellowship of the Ring      (2001)
125                                         Escape Room  (I) (2019)
...                                                 ...         ...
5750                           Vidal Sassoon: The Movie      (2010)
5770                                       Men at Lunch      (2012)
5835                                    Decoding Deepak      (2012)
6056                                     Theo Who Lived      (2016)
6292                                   Southern Justice      (2006)

                                          GENRE  RATING  \
77          \nAction, Comedy, Crime                 6.9
85      \nAction, Adventure, Sci-Fi                 8.1
95        \nCrime, Horror, Thriller                 7.1
111      \nAction, Adventure, Drama                 8.8
125     \nAction, Adventure, Horror                 6.4
...                                         ...     ...
5750                  \nDocumentary                 6.5
5770         \nDocumentary, Mystery                 6.3
5835                  \nDocumentary                 5.5
6056                  \nDocumentary                 6.8
6292  \nAction, Adventure, Thriller                 3.1

                                               ONE-LINE  \
77    \nThe world's top bodyguard gets a new client,...
85    \nA pragmatic paleontologist visiting an almos...
95    \nHoping to walk away with a massive fortune, ...
111   \nA meek Hobbit from the Shire and eight compa...
125   \nSix strangers find themselves in a maze of d...
...                                                 ...
5750  \nVidal Sassoon is more than just a hairdresse...
5770  \nThe story of "Lunch atop a Skyscraper," the ...
5835  \nDeepak Chopra's son, Gotham, spends a year t...
6056  \nA documentary on American journalist Theo Pa...
6292  \nM.D. Selig's feature thriller, SOUTHERN JUST...

                                                  STARS  VOTES  RunTime  Gross
77    \n    Director:\nPatrick Hughes\n| \n    Stars...    NaN    118.0    NaN
85    \n    Director:\nSteven Spielberg\n| \n    Sta...    NaN    127.0    NaN
95    \n    Director:\nFede Alvarez\n| \n    Stars:\...    NaN     88.0    NaN
111   \n    Director:\nPeter Jackson\n| \n    Stars:...    NaN    178.0    NaN
125   \n    Director:\nAdam Robitel\n| \n    Stars:\...    NaN     99.0    NaN
...                                                 ...    ...      ...    ...
5750  \n    Director:\nCraig Teper\n| \n    Stars:\n...  245.0     90.0    NaN
5770  \n    Director:\nSeán Ó Cualáin\n| \n    Stars...  331.0     75.0    NaN
5835  \n    Director:\nGotham Chopra\n| \n    Stars:...  124.0     83.0    NaN
6056  \n    Director:\nDavid Schisgall\n| \n    Star...  111.0     86.0    NaN
6292  \n    Director:\nM.D. Selig\n| \n    Stars:\nM...  126.0     96.0    NaN

[460 rows x 9 columns]

In [14]:
# Now we clean our data from Nan values by using .dropna() function
pdDf_clean2 = pdDf_clean2.dropna(subset = ['RATING', 'VOTES', 'RunTime', 'Gross'])

In [15]:
print(pdDf_clean2)

Empty DataFrame
Columns: [MOVIES, YEAR, GENRE, RATING, ONE-LINE, STARS, VOTES, RunTime, Gross]
Index: []

In [84]:
# pdDf_clean = pdDf_clean.drop_duplicates()

In [85]:
print(pdDf_clean)

Empty DataFrame
Columns: [MOVIES, YEAR, GENRE, RATING, ONE-LINE, STARS, VOTES, RunTime, Gross]
Index: []

In [86]:
                                    # Step #2

In [87]:
# Detect and remove outliers using the Z-score method or the IQR method.

In [88]:
# Z score method

In [89]:
z_scores = stats.zscore(pdDf_clean[['RATING', 'VOTES', 'RunTime', 'Gross']])

In [16]:
# Drop rows with missing values in specified columns
pdDf_clean = pdDf.dropna(subset=['RATING', 'VOTES', 'RunTime', 'Gross']).copy()

# Ensure numerical columns are properly handled
pdDf_clean[['RATING', 'VOTES', 'RunTime', 'Gross']] = pdDf_clean[['RATING', 'VOTES', 'RunTime', 'Gross']].apply(pd.to_numeric, errors='coerce')

# Drop rows with NaN values after converting to numeric
pdDf_clean = pdDf_clean.dropna(subset=['RATING', 'VOTES', 'RunTime', 'Gross'])

# Calculate Z-scores for numerical columns
z_scores = stats.zscore(pdDf_clean[['RATING', 'VOTES', 'RunTime', 'Gross']])

# Apply Z-score threshold for outlier detection
outliers = (abs(z_scores) > 3).any(axis=1)

# Keep rows where there are no outliers
pdDf_no_outliers = pdDf_clean.loc[~outliers]

# Verify DataFrame size
print(pdDf_no_outliers.shape)

Empty DataFrame
Columns: [MOVIES, YEAR, GENRE, RATING, ONE-LINE, STARS, VOTES, RunTime, Gross]
Index: []

In [47]:
# Assuming your DataFrame is named pdDf
# Remove duplicates based on all columns
pdDf_no_duplicates = pdDf.drop_duplicates()

# Alternatively, if you only want to consider specific columns for duplicates
pdDf_no_duplicates = pdDf.drop_duplicates(subset=['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 
                                                  'STARS', 'VOTES', 'RunTime', 'Gross'])

# Display the cleaned DataFrame
print(pdDf_no_duplicates.shape)
print(pdDf_no_duplicates.head())

(9568, 9)
                                MOVIES         YEAR  \
0                        Blood Red Sky       (2021)
1  Masters of the Universe: Revelation     (2021– )
2                     The Walking Dead  (2010–2022)
3                       Rick and Morty     (2013– )
4                      Army of Thieves       (2021)

                                        GENRE  RATING  \
0      \nAction, Horror, Thriller                 6.1
1  \nAnimation, Action, Adventure                 5.0
2       \nDrama, Horror, Thriller                 8.2
3  \nAnimation, Adventure, Comedy                 9.2
4         \nAction, Crime, Horror                 NaN

                                            ONE-LINE  \
0  \nA woman with a mysterious illness is forced ...
1  \nThe war for Eternia begins again in what may...
2  \nSheriff Deputy Rick Grimes wakes up from a c...
3  \nAn animated series that follows the exploits...
4  \nA prequel, set before the events of Army of ...

                                               STARS    VOTES  RunTime Gross
0  \n    Director:\nPeter Thorwarth\n| \n    Star...   21,062    121.0   NaN
1  \n            \n    Stars:\nChris Wood, \nSara...   17,870     25.0   NaN
2  \n            \n    Stars:\nAndrew Lincoln, \n...  885,805     44.0   NaN
3  \n            \n    Stars:\nJustin Roiland, \n...  414,849     23.0   NaN
4  \n    Director:\nMatthias Schweighöfer\n| \n  ...      NaN      NaN   NaN

In [48]:
# Calculate IQR for numerical columns
Q1 = pdDf_clean[['RATING', 'VOTES', 'RunTime', 'Gross']].quantile(0.25)
Q3 = pdDf_clean[['RATING', 'VOTES', 'RunTime', 'Gross']].quantile(0.75)
IQR = Q3 - Q1

# Define the bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Create a boolean mask for detecting outliers
outliers_iqr = ((pdDf_clean[['RATING', 'VOTES', 'RunTime', 'Gross']] < lower_bound) | 
                (pdDf_clean[['RATING', 'VOTES', 'RunTime', 'Gross']] > upper_bound)).any(axis=1)

# Remove outliers
pdDf_no_outliers_iqr = pdDf_clean.loc[~outliers_iqr]

# Verify DataFrame size
print(pdDf_no_outliers_iqr.shape)

(0, 9)

In [49]:
# 1. Standardize text formats
pdDf['MOVIES'] = pdDf['MOVIES'].str.strip().str.lower()  # Convert to lowercase and remove leading/trailing spaces
pdDf['GENRE'] = pdDf['GENRE'].str.strip().str.lower()
pdDf['ONE-LINE'] = pdDf['ONE-LINE'].str.strip().str.lower()
pdDf['STARS'] = pdDf['STARS'].str.strip().str.lower()

# 2. Merge similar categories
# Example: Standardize genres
genre_mapping = {
    'action': 'Action',
    'adventure': 'Adventure',
    'comedy': 'Comedy',
    'drama': 'Drama',
    # Add more mappings as needed
}

pdDf['GENRE'] = pdDf['GENRE'].map(genre_mapping).fillna(pdDf['GENRE'])

# Print the cleaned DataFrame
print(pdDf.head())

                                MOVIES         YEAR  \
0                        blood red sky       (2021)
1  masters of the universe: revelation     (2021– )
2                     the walking dead  (2010–2022)
3                       rick and morty     (2013– )
4                      army of thieves       (2021)

                          GENRE  RATING  \
0      action, horror, thriller     6.1
1  animation, action, adventure     5.0
2       drama, horror, thriller     8.2
3  animation, adventure, comedy     9.2
4         action, crime, horror     NaN

                                            ONE-LINE  \
0  a woman with a mysterious illness is forced in...
1  the war for eternia begins again in what may b...
2  sheriff deputy rick grimes wakes up from a com...
3  an animated series that follows the exploits o...
4  a prequel, set before the events of army of th...

                                               STARS    VOTES  RunTime Gross
0  director:\npeter thorwarth\n| \n    stars:\npe...   21,062    121.0   NaN
1  stars:\nchris wood, \nsarah michelle gellar, \...   17,870     25.0   NaN
2  stars:\nandrew lincoln, \nnorman reedus, \nmel...  885,805     44.0   NaN
3  stars:\njustin roiland, \nchris parnell, \nspe...  414,849     23.0   NaN
4  director:\nmatthias schweighöfer\n| \n    star...      NaN      NaN   NaN